.advantages__list {
  display: flex;
  margin-left: -30px;
}
.advantages-list__item {
  flex-basis: calc((100% / 4) - 30px);
  margin-left: 30px;
}
.advantages-list__item::before {
  margin-bottom: 30px;
  display: block;
  content: "";
  height: 120px;

  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantages-list__item.icon-antenna::before {
  background-image: url(../images/icon/antenna.svg);
}

.advantages-list__item.icon-clock::before {
  background-image: url(../images/icon/clock.svg);
}

.advantages-list__item.icon-diagram::before {
  background-image: url(../images/icon/diagram.svg);
}

.advantages-list__item.icon-astronaut::before {
  background-image: url(../images/icon/astronaut.svg);
}

.advantages-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
