// $title-color: #212121;
$brandColor: #2196f3;
$titleColor: #212121;

$animationTime: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

$btnHover: #188ce8;

$mainColorLinks: black;

:root {
  --brand-color: #2196f3;
  --title-color: #212121;

  --animation-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
